section {
  padding: 1em 8em;
  margin-top: 8em;
}

#doctor-list h1 {
  font-size: 28px;
  margin-bottom: 0.5em;
}

#doctor-list span {
  color: #49a078;
}

#doctor-list h5 {
  font-size: 18px;
}

.card span {
  font-size: 14px;
}

#doctor-list .card h5 {
  font-size: 20px;
}

#doctor-list .card a {
  font-size: 18px;
}

#doctors-container > .col {
  margin-top: 3em;
}

footer {
  padding: 1rem;
}

footer #copyright {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 1em 0;
    margin-top: 6em;
  }

  #doctor-list h1 {
    font-size: 20px;
    margin-bottom: 0.5em;
  }

  #doctor-list h5 {
    font-size: 16px;
  }

  #doctor-list .card {
    margin: 0 auto 2em;
  }

  footer {
    padding: 0.1rem;
  }
}
