body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
}

section {
  padding: 1em 8em;
  margin-top: 8em;
}

section h1 {
  margin-bottom: 2.5em;
  font-size: 28px;
}

/* Daftar Diskusi */
#forum-diskusi span {
  color: #49a078;
}

#add-discussion {
  background-color: #216869;
}

#add-discussion:hover {
  background-color: #216869cf;
}

#forum-diskusi .square {
  border: 1px solid #d3d3d3;
}

#forum-diskusi .square input:focus,
#forum-diskusi .square input:checked {
  background-color: #49a078;
}

#forum-diskusi .square h3 {
  font-size: 20px;
}

#forum-diskusi .square span {
  background-color: #49a078;
  border-radius: 10px;
  font-size: 14px;
}

form input {
  height: 3em;
  border-radius: 5px;
  width: 100%;
  border: 0.5px solid #d3d3d3;
}

form input:focus {
  border: 1px solid #49a078;
  outline: none;
}

form svg {
  left: 1em;
  bottom: 0.9em;
  z-index: 100;
}

#forum-diskusi .search {
  margin-bottom: 2em;
}

.card {
  margin-top: 1em;
}

.card img {
  border-radius: 50%;
}

.card h3 {
  font-size: 18px;
}

.card h6 {
  color: #acacac;
  font-size: 14px;
}

.reply-container,
.share-container,
#like-container {
  display: flex;
  gap: 0.5em;
}

.reply-container a,
#like-container a,
.share-container a {
  text-decoration: none;
  color: #000;
}

/* Tambah Diskusi */
#add-diskusi .row {
  margin-top: 1em;
}

#add-diskusi h3 {
  font-size: 20px;
}

#add-diskusi p {
  font-size: 14px;
}

#button {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
}

/* Detail diskusi */
#detail-discussion h3 {
  font-size: 20px;
}

#detail-discussion h6 {
  color: #acacac;
  font-size: 14px;
}

#reply-container .row {
  padding: 1.5em;
  margin-top: 2em;
  border: 0.5px solid #bdbdbdca;
  border-radius: 10px;
}

#detail-discussion img {
  border-radius: 50%;
}

footer {
  padding: 0.1rem;
}

footer #copyright {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  section {
    padding: 1em 4em;
  }
}

@media screen and (max-width: 992px) {
  section {
    padding: 1em 2em;
  }

  #forum-diskusi .keyword {
    display: none;
  }

  #forum-diskusi .square {
    margin: 0 auto;
    margin-bottom: 2em;
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 1em 0;
    margin-top: 6em;
  }

  #forum-diskusi .container-fluid .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  section h1 {
    font-size: 20px;
    margin-bottom: 1em;
  }

  #forum-diskusi .square {
    width: 93%;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 40vw;
  }

  #forum-diskusi .square > div {
    margin-bottom: 0;
  }

  #forum-diskusi .square h3 {
    font-size: 18px;
  }

  #forum-diskusi .keyword {
    display: none;
  }

  #forum-diskusi .search {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /* add diskusi section */
  #add-diskusi h3 {
    font-size: 16px;
  }

  #add-diskusi p {
    font-size: 12px;
  }

  #reply-container .row {
    margin: 1em 0.1em;
  }
}
