body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #DCE1DE;
}

.reset {
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 90px;
    padding-right: 40px;
    background-color: #DCE1DE;
}

.header img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-reset {
    padding-bottom: 15px;
}

.button-reset {
    padding-top: 100px;
}

.button-reset button {
    padding-top: 6px;
    padding-left: 140px;
    padding-bottom: 6px;
    padding-right: 140px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #49A078;
}